@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #9888F4;
    --primary-color-2: #715DE3;
    --secondary-color: #D7D2F6;
    --text-color: #455A64;
    --list-p-color: #645E80;
}

body{
    background-color: #F9F8F5;
    font-family: "Poppins", serif;
    width: 100vw;
    overflow-x: hidden;
}

section{
    padding-top: 120px;
    /* padding-bottom: 120px; */
}

section.hero{
    padding-top: 120px;
    padding-bottom: 120px;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.capitalize{
    text-transform: capitalize;
}

/* Container Utilities class */
.container {
    width: 100%;
}

/* Column utilities class */
.column{
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
}

/* Article  */

.article{
    /* height: 310px; */
    border-radius: 20px;
    padding: 32px;
    background-color: #FFFFFF;
}

/* Icon box  */
.icon-box{
    border: solid 1px #E7DAED;
    box-shadow: 0px 4.5px 15px 0px #0D0A2C0F;
}

.icon-box p{
    color: #645E80;
}

/* Width  */
.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.w-screen{
    width: 100vw;
}

.h-screen{
    height: 100vh;
}

.min\:h-screen{
    min-height: 100vh;
}

video.hero-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video fills the entire screen */
    z-index: -1; /* Moves the video behind other content */
}

/* Icon boxes  */
.icon-box-icon{
    width: 60px;
    height: 60px;
    background-image: url('./assets/images/web_development.png');
    flex-grow: 1;
    flex-shrink: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box-icon img{
    width: 30px;
    height: 30px;
}

/* Testimonial */
.testimonial-bg-heading{
    background-image: url('./assets/images/Rectangle\ 20.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testimonial{
    padding-left: 0px;
    padding-right: 0px;
}

.testimonial .icon{
    display: none;
}

.testimonial-wrapper{
    padding: 10px 20px;
    border-radius: 20px;
}

.slick-center .testimonial-wrapper{
    background-color: #2A2A2A;
}

.testimonial .testimonial-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial .testimonial-header .icon{
    color: #444444;
    font-size: 55px;
}

.testimonial .testimonial-header picture{
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.testimonial .testimonial-header picture .profile-title{
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.testimonial .testimonial-header picture .profile-designation{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #DDDDDD;    
}

.testimonial .testimonial-header picture img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    object-fit: cover;
}

.testimonial .testimonial-body{
    margin-top: 50px;
}

.testimonial .testimonial-body p{
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

/* Arrows */
.arrow{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid 1px #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.arrow:hover{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-color: var(--primary-color)
}

/* Form  */

form input, form textarea, form select{
    background: transparent;
    min-height: 34px;
    border: 0;
    border-bottom: solid 1px #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding: 5px 10px;
}

input[type="text"] {
    width: 100%;
}

form select option{
    color: #000;
}

form textarea{
    min-height: 78px;
}

.custom-checkbox input {
    display: none; /* Hide default checkbox */
}

.custom-checkbox span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: solid 1px #fff;
    position: relative;
    cursor: pointer;
    color: #000;
    font-size: 12px;
}

.custom-checkbox input:checked + span {
    background-color: #fff;
}

form input::placeholder, form textarea::placeholder, form select{
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

form input[type="button"]{
    background: linear-gradient(to bottom, #9888F4 0%, #715DE3 100%);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

/* Button  */
.btn{
    border-radius: 50px;
    min-width: 190px;
    min-height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.blog-btn{
    max-width: 88px;
    min-width: 88px;
    width: 88px;
}

.btn-default{
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--primary-color-2) 100%);

    font-family: Poppins;
    color: #fff;
}

.btn-secondary{
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.hero-btn{
    border-radius: 9.4px;
    min-width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, #715DE3, #9888F4) !important;
}

.hero-btn.btn-secondary{
    background: transparent !important;
    color: white !important;
    border-color: transparent !important;
}

.btn-secondary.black{
    border-color: #010205;
    color: #010205;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-secondary.black:hover{
    background-color: #010205;
    color: white;
    border-color: #010205;
}

/* Box shadwo  */
.shadow {
    box-shadow: 0px 4px 20px 0px #0045AD4D;
}


/* Font Family */

.inter-thin { font-family: "Inter", serif; font-weight: 100; font-style: normal; }
.inter-extralight { font-family: "Inter", serif; font-weight: 200; font-style: normal; }
.inter-light { font-family: "Inter", serif; font-weight: 300; font-style: normal; }
.inter-regular { font-family: "Inter", serif; font-weight: 400; font-style: normal; }
.inter-medium { font-family: "Inter", serif; font-weight: 500; font-style: normal; }
.inter-semibold { font-family: "Inter", serif; font-weight: 600; font-style: normal; }
.inter-bold { font-family: "Inter", serif; font-weight: 700; font-style: normal; }
.inter-extrabold { font-family: "Inter", serif; font-weight: 800; font-style: normal; }
.inter-black { font-family: "Inter", serif; font-weight: 900; font-style: normal; }
.inter-thin-italic { font-family: "Inter", serif; font-weight: 100; font-style: italic; }
.inter-extralight-italic { font-family: "Inter", serif; font-weight: 200; font-style: italic; }
.inter-light-italic { font-family: "Inter", serif; font-weight: 300; font-style: italic; }
.inter-regular-italic { font-family: "Inter", serif; font-weight: 400; font-style: italic; }
.inter-medium-italic { font-family: "Inter", serif; font-weight: 500; font-style: italic; }
.inter-semibold-italic { font-family: "Inter", serif; font-weight: 600; font-style: italic; }
.inter-bold-italic { font-family: "Inter", serif; font-weight: 700; font-style: italic; }
.inter-extrabold-italic { font-family: "Inter", serif; font-weight: 800; font-style: italic; }
.inter-black-italic { font-family: "Inter", serif; font-weight: 900; font-style: italic; }

.poppins-thin { font-family: "Poppins", serif; font-weight: 100; font-style: normal; }  
.poppins-extralight { font-family: "Poppins", serif; font-weight: 200; font-style: normal; }  
.poppins-light { font-family: "Poppins", serif; font-weight: 300; font-style: normal; }  
.poppins-regular { font-family: "Poppins", serif; font-weight: 400; font-style: normal; }  
.poppins-medium { font-family: "Poppins", serif; font-weight: 500; font-style: normal; }  
.poppins-semibold { font-family: "Poppins", serif; font-weight: 600; font-style: normal; }  
.poppins-bold { font-family: "Poppins", serif; font-weight: 700; font-style: normal; }  
.poppins-extrabold { font-family: "Poppins", serif; font-weight: 800; font-style: normal; }  
.poppins-black { font-family: "Poppins", serif; font-weight: 900; font-style: normal; }  
.poppins-thin-italic { font-family: "Poppins", serif; font-weight: 100; font-style: italic; }  
.poppins-extralight-italic { font-family: "Poppins", serif; font-weight: 200; font-style: italic; }  
.poppins-light-italic { font-family: "Poppins", serif; font-weight: 300; font-style: italic; }  
.poppins-regular-italic { font-family: "Poppins", serif; font-weight: 400; font-style: italic; }  
.poppins-medium-italic { font-family: "Poppins", serif; font-weight: 500; font-style: italic; }  
.poppins-semibold-italic { font-family: "Poppins", serif; font-weight: 600; font-style: italic; }  
.poppins-bold-italic { font-family: "Poppins", serif; font-weight: 700; font-style: italic; }  
.poppins-extrabold-italic { font-family: "Poppins", serif; font-weight: 800; font-style: italic; }  
.poppins-black-italic { font-family: "Poppins", serif; font-weight: 900; font-style: italic; }  


/* Font Weight */
.font-weight-normal { font-weight: normal; }  
.font-weight-bold { font-weight: bold; }  
.font-weight-bolder { font-weight: bolder; }  
.font-weight-light { font-weight: lighter; }  
.font-weight-100 { font-weight: 100; }  
.font-weight-200 { font-weight: 200; }  
.font-weight-300 { font-weight: 300; }  
.font-weight-400 { font-weight: 400; }  
.font-weight-500 { font-weight: 500; }  
.font-weight-600 { font-weight: 600; }  
.font-weight-700 { font-weight: 700; }  
.font-weight-800 { font-weight: 800; }  
.font-weight-900 { font-weight: 900; }  

/* Font sizes */
.font-sm { font-size: clamp(14px, 1rem, 18px); } /* Min 14px, preferred 1rem (16px), max 18px */  
.font-md { font-size: clamp(24px, 3vw, 48px); } /* Min 24px, preferred 3vw, max 48px */  
.font-lg { font-size: clamp(32px, 5vw, 56px); }  
.font-12 { font-size: clamp(12px, 1vw, 14px); }
.font-14 { font-size: clamp(14px, 1.2vw, 16px); }
.font-16 { font-size: clamp(16px, 1.3vw, 18px); }
.font-18 { font-size: clamp(18px, 1.4vw, 20px); }
.font-20 { font-size: clamp(18px, 1.8vw, 20px); }
.font-24 { font-size: clamp(20px, 2vw, 24px); }
.font-32 { font-size: clamp(30px, 2vw, 32px); }
.font-36 { font-size: clamp(34px, 3.5vw, 36px); }
.font-45 { font-size: clamp(36px, 4vw, 45px); }
.font-55 { font-size: clamp(45px, 5vw, 55px); }

/* Z index */
.z-negative-1{ z-index: -1; }
.z-negative-2{ z-index: -2; }

.z-1{ z-index: 1; }
.z-2{ z-index: 2; }

/* Line height  */
.line-height-1 {
    line-height: 1;
}

.line-height-1-5 {
    line-height: 1.5;
}

.line-height-2 {
    line-height: 2;
}

.line-height-2-5 {
    line-height: 2.5;
}

.line-height-3 {
    line-height: 3;
}

.line-height-4 {
    line-height: 4;
}

.line-height-5 {
    line-height: 5;
}

.line-height-6 {
    line-height: 6;
}

.line-height-8 {
    line-height: 8;
}


/* Text Align */
.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.text-start{
    text-align: start;
}

/* Color Utilities */
.color-white{
    color: white;
}

.color-primary{
    color: var(--primary-color);
}

.color-text{
    color: var(--text-color);
}

.color-100C46{
    color: #100C46;
}

.color-878C91{
    color: #878C91;
}

.color-A2A2A2{
    color: #A2A2A2;
}

.color-ECE{
    color: #ECECEC;
}

.color-818181{
    color: #818181;
}

.color-645E80{
    color: #645E80;
}

.color-090B0E{
    color: #090B0E;
}

.color-3D4C5E{
    color: #3D4C5E;
}

.color-A4A7BA{
    color: #A4A7BA;
}

.color-6C57FF{
    color: #6C57FF;
}

/* Gradient  */
.linear-gradient{
    background: linear-gradient(180deg, #9888F4 0%, #715DE3 100%);
}

.clipping{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

/* Border  */
.border{
    border-style: solid;
    border-width: 1px;
    border-color: #E7DAED;
}

.border-primary{
    border-color: var(--primary-color);
}

/* Background */
.bg-white{background-color: white;}
.bg-black { background-color: black; }
.bg-222{background-color: #222222;}
.bg-E9E{background-color: #E9E9E9;}
.bg-141{background-color: #14133B;}
.bg-F5F{ background-color: #F5FDEB;}
.bg-F6F8F9{background-color: #F6F8F9;}
.bg-transparent { background-color: transparent; }

.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }
.bg-auto { background-size: auto; }

.bg-top { background-position: top; }
.bg-bottom { background-position: bottom; }
.bg-left { background-position: left; }
.bg-right { background-position: right; }

.bg-no-repeat { background-repeat: no-repeat; }
.bg-repeat { background-repeat: repeat; }
.bg-repeat-x { background-repeat: repeat-x; }
.bg-repeat-y { background-repeat: repeat-y; }

.bg-fixed { background-attachment: fixed; }
.bg-scroll { background-attachment: scroll; }
.bg-local { background-attachment: local; }


/* Gap utilities class */
.gap-default{
    gap: 20px;
}

.gap-10{
    gap: 10px;
}

.gap-30{
    gap: 30px;
}

.gap-40{
    gap: 40px;
}

/* Border Radius  */
.rounded-xs{
    border-radius: 8px;
}

.rounded-sm{
    border-radius: 15px;
}

.rounded-25{
    border-radius: 25px;
}

/* Flex utilities class */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.col-span-1 { grid-column: span 1 / span 1; }
.col-span-2 { grid-column: span 2 / span 2; }
.col-span-3 { grid-column: span 3 / span 3; }

.col-start-1 { grid-column-start: 1; }
.col-start-2 { grid-column-start: 2; }
.col-start-3 { grid-column-start: 3; }
.col-start-4 { grid-column-start: 4; }
.col-start-5 { grid-column-start: 5; }
.col-start-6 { grid-column-start: 6; }
.col-start-7 { grid-column-start: 7; }
.col-start-8 { grid-column-start: 8; }
.col-start-9 { grid-column-start: 9; }
.col-start-10 { grid-column-start: 10; }
.col-start-11 { grid-column-start: 11; }
.col-start-12 { grid-column-start: 12; }

/* Grid utilities class  */
.grid { display: grid; }
.grid-cols-1 { grid-template-columns: repeat(1, 1fr); }
.grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
.grid-cols-3 { grid-template-columns: repeat(3, 1fr); }
.grid-cols-4 { grid-template-columns: repeat(4, 1fr); }
.grid-cols-5 { grid-template-columns: repeat(5, 1fr); }
.grid-cols-6 { grid-template-columns: repeat(6, 1fr); }
.grid-cols-7 { grid-template-columns: repeat(7, 1fr); }
.grid-cols-8 { grid-template-columns: repeat(8, 1fr); }
.grid-cols-9 { grid-template-columns: repeat(9, 1fr); }
.grid-cols-10 { grid-template-columns: repeat(10, 1fr); }
.grid-cols-11 { grid-template-columns: repeat(11, 1fr); }
.grid-cols-12 { grid-template-columns: repeat(12, 1fr); }
.grid-cols-30-70{ grid-template-columns: 30fr 70fr;}
.grid-cols-40-60{ grid-template-columns: 40fr 60fr;}
.grid-cols-64-36 { grid-template-columns: 64fr 36fr; }
.grid-cols-60-40{ grid-template-columns: 60fr 40fr;}
.grid-reverse {direction: rtl;}
.grid-reverse > * {
    direction: ltr; /* reset the inner direction if needed */
}

/* Margin Utilities class */
.mt-auto { margin-top: auto; }  
.mb-auto { margin-bottom: auto; }  
.ml-auto { margin-left: auto; }  
.mr-auto { margin-right: auto; }  
.mt-0 { margin-top: 0px; }  
.mt-1 { margin-top: 10px; }  
.mt-2 { margin-top: 20px; }  
.mt-4{ margin-top: 40px; }
.mt-5{ margin-top: 50px; }
.mt-6{ margin-top: 60px; }
.mt-7{ margin-top: 70px; }
.mt-8{ margin-top: 80px; }
.mt-10 { margin-top: 100px; }
.mb-0 { margin-bottom: 0px; }  
.mb-1 { margin-bottom: 10px; }  
.mb-2 { margin-bottom: 20px; }  
.mb-3 { margin-bottom: 30px; }  
.mb-4 { margin-bottom: 40px; }  
.mb-5 { margin-bottom: 50px; }  
.mb-10 { margin-bottom: 100px; }  
.ml-0 { margin-left: 0px; }  
.ml-1 { margin-left: 10px; }  
.ml-2 { margin-left: 20px; }  
.mr-0 { margin-right: 0px; }  
.mr-1 { margin-right: 10px; }  
.mr-2 { margin-right: 20px; }  
.mx-0 { margin-left: 0; margin-right: 0; }  
.mx-1 { margin-left: 10px; margin-right: 10px; }  
.mx-2 { margin-left: 20px; margin-right: 20px; }  
.mx-auto { margin-left: auto; margin-right: auto; }  
.my-0 { margin-top: 0; margin-bottom: 0; }  
.my-1 { margin-top: 10px; margin-bottom: 10px; }  
.my-2 { margin-top: 20px; margin-bottom: 20px; }

/* Padding utilities class */
.p-20{padding: 20px;}
.p-35{padding: 35px;}
.p-100{padding: 100px;}
.pt-1 { padding-top: 10px; }  
.pt-2 { padding-top: 20px; }  
.pt-4{ margin-top: 40px; }
.pt-5{ margin-top: 50px; }
.pt-6{ margin-top: 60px; }
.pt-7{ margin-top: 70px; }
.pt-8{ margin-top: 80px; }
.pt-10 { margin-top: 100px; }
.pb-0 { padding-bottom: 0px; }  
.pb-1 { padding-bottom: 10px; }  
.pb-2 { padding-bottom: 20px; }  
.pb-100{ padding-bottom: 100px }
.pb-120{ padding-bottom: 120px }
.pl-0 { padding-left: 0px; }  
.pl-1 { padding-left: 10px; }  
.pl-2 { padding-left: 20px; }  
.pr-0 { padding-right: 0px; }  
.pr-1 { padding-right: 10px; }  
.pr-2 { padding-right: 20px; }  
.px-0 { padding-left: 0; padding-right: 0; }  
.px-1 { padding-left: 10px; padding-right: 10px; }  
.px-2 { padding-left: 20px; padding-right: 20px; }  

/* Positions  */
.relative{ position: relative; }
.absolute{ position: absolute; }

.inset{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-0{ top: 0px; }
.left-full{ left: 100%;}
.right-0{ right: 0; }

/* Footer  */
footer{
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 120px;
}

footer .socials li a{
    background-color: #fff;
    width: 34px;
    height: 34px;
    color: #101237;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, color 0.3s ease;
}

footer .socials li a:hover{
    background: linear-gradient( to right, var(--primary-color), var(--secondary-color) );
    color: white;
}

.none{
    display: none;
}

.block{
    display: block;
}

#who-we-are .container{
    margin-left: auto;
    margin-right: auto;
}

/* Header  */

.header-btn{
    width: 191px;
    height: 54px;
    border-radius: 12px;
    background: linear-gradient(180deg, #9888F4 0%, #715DE3 100%);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;    
    cursor: pointer;
    border: 0;
}

/* .header-nav .nav-lists{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
} */

.header-nav .nav-lists .nav-list .nav-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

/* Sub Menu  */
.sub-menu{
    background-color: #fff;
    padding: 20px 0;
    border-radius: 4px;
    z-index: 9999;
    min-width: 280px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.sub-menu.active{
    top: 40px;
    display: block;
}

.sub-menu .sub-menu-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    transition: color 0.2s ease-in;
}

.sub-menu .sub-menu-item{
    transition: background 0.2s ease-in;
    padding: 10px 20px;
    cursor: pointer;
}

.sub-menu .sub-menu-item:hover{
    background: #9888f44d;
}

.sub-menu .sub-menu-item:hover .sub-menu-link{
    color: var(--primary-color-2);
}



.mob-nav{
    height: 0px;
    top: 80px;
    left: 0;
    background-color: #F9F8F5;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    z-index: 11111;
}

.mob-nav.active{
    padding: 40px 20px;
    height: auto;
}

/* Progress Bar  */
.progress-bar-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-bar-wrapper .progress-bar-heading{
    display: flex;
    justify-content: space-between;
}

.progress-bar-wrapper .progress-bar-heading .progress-bar-title{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #090B0E;
}

.progress-bar-wrapper .progress-bar-heading .progress-bar-number{
    font-family: Figtree;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #090B0E;
}

.progress-bar-wrapper .progress-bar-body .progress-bar{
    background-color: #E5E7EB;
    border-radius: 30px;
    width: 100%;
    height: 8px;
    position: relative;
}

.progress-bar-wrapper .progress-bar-body .progress-bar::after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, var(--primary-color-2) 0%, var(--primary-color) 100%);
    border-radius: 30px;
}

.progress-bar-wrapper .progress-bar-body .progress-bar[data-progress="85"]::after{
    width: 85%;
}

.progress-bar-wrapper .progress-bar-body .progress-bar[data-progress="95"]::after{
    width: 95%;
}

/* Object  */
.object-cover{ object-fit: cover; }
.object-contain{ object-fit: contain; }


@media (min-width: 640px) {  /* sm */
    .container {
        max-width: 640px;
    }

    .testimonial .icon{
        display: block;
    }

    .sm\:none { display: none; }
    .sm\:none { display: block;}

    .testimonial{
        padding-left: 20px;
        padding-right: 20px;
    }

    .testimonial-wrapper{
        padding: 20px 40px;
    }

    .sm\:min\:h-screen{
        min-height: 100vh;
    }

    /* Flexbox */
  .sm\:flex { display: flex; }
  .sm\:inline-flex { display: inline-flex; }

  /* Flex Direction */
  .sm\:flex-row { flex-direction: row; }
  .sm\:flex-row-reverse { flex-direction: row-reverse; }
  .sm\:flex-col { flex-direction: column; }
  .sm\:flex-col-reverse { flex-direction: column-reverse; }

  /* Flex Wrap */
  .sm\:flex-wrap { flex-wrap: wrap; }
  .sm\:flex-nowrap { flex-wrap: nowrap; }
  .sm\:flex-wrap-reverse { flex-wrap: wrap-reverse; }

  .sm\:col-span-2 { grid-column: span 2 / span 2; }
  .sm\:col-span-3 { grid-column: span 3 / span 3; }

  .sm\:col-start-1 { grid-column-start: 1; }
.sm\:col-start-2 { grid-column-start: 2; }
.sm\:col-start-3 { grid-column-start: 3; }
.sm\:col-start-4 { grid-column-start: 4; }
.sm\:col-start-5 { grid-column-start: 5; }
.sm\:col-start-6 { grid-column-start: 6; }
.sm\:col-start-7 { grid-column-start: 7; }
.sm\:col-start-8 { grid-column-start: 8; }
.sm\:col-start-9 { grid-column-start: 9; }
.sm\:col-start-10 { grid-column-start: 10; }
.sm\:col-start-11 { grid-column-start: 11; }
.sm\:col-start-12 { grid-column-start: 12; }


  /* Justify Content */
  .sm\:justify-start { justify-content: flex-start; }
  .sm\:justify-center { justify-content: center; }
  .sm\:justify-end { justify-content: flex-end; }
  .sm\:justify-between { justify-content: space-between; }
  .sm\:justify-around { justify-content: space-around; }
  .sm\:justify-evenly { justify-content: space-evenly; }

  /* Align Items */
  .sm\:items-start { align-items: flex-start; }
  .sm\:items-center { align-items: center; }
  .sm\:items-end { align-items: flex-end; }
  .sm\:items-baseline { align-items: baseline; }
  .sm\:items-stretch { align-items: stretch; }

  /* Align Self */
  .sm\:self-auto { align-self: auto; }
  .sm\:self-start { align-self: flex-start; }
  .sm\:self-center { align-self: center; }
  .sm\:self-end { align-self: flex-end; }
  .sm\:self-stretch { align-self: stretch; }

  /* Align Content */
  .sm\:content-start { align-content: flex-start; }
  .sm\:content-center { align-content: center; }
  .sm\:content-end { align-content: flex-end; }
  .sm\:content-between { align-content: space-between; }
  .sm\:content-around { align-content: space-around; }
  .sm\:content-evenly { align-content: space-evenly; }

  /* Flex Grow & Shrink */
  .sm\:flex-grow { flex-grow: 1; }
  .sm\:flex-grow-0 { flex-grow: 0; }
  .sm\:flex-shrink { flex-shrink: 1; }
  .sm\:flex-shrink-0 { flex-shrink: 0; }

  /* Margin utilities class  */
  .sm\:ml-auto { margin-left: auto; }
  .sm\:mr-auto { margin-right: auto; }  
  .sm\:mt-0 { margin-top: 0px; }  
  .sm\:mt-1 { margin-top: 10px; }  
  .sm\:mt-2 { margin-top: 20px; }  
  .sm\:mb-0 { margin-bottom: 0px; }  
  .sm\:mb-1 { margin-bottom: 10px; }  
  .sm\:mb-2 { margin-bottom: 20px; }  
  .sm\:ml-0 { margin-left: 0px; }  
  .sm\:ml-1 { margin-left: 10px; }  
  .sm\:ml-2 { margin-left: 20px; }  
  .sm\:mr-0 { margin-right: 0px; }  
  .sm\:mr-1 { margin-right: 10px; }  
  .sm\:mr-2 { margin-right: 20px; }  
  .sm\:mx-0 { margin-left: 0; margin-right: 0; }  
  .sm\:mx-1 { margin-left: 10px; margin-right: 10px; }  
  .sm\:mx-2 { margin-left: 20px; margin-right: 20px; }  
  .sm\:mx-auto { margin-left: auto; margin-right: auto; }
  
  /* Padding utilities class */
  .sm\:p-20{ padding: 20px; }
  .sm\:p-50{ padding: 50px; }
  .sm\:pt-1 { padding-top: 10px; }  
  .sm\:pt-2 { padding-top: 20px; }  
  .sm\:pb-0 { padding-bottom: 0px; }  
  .sm\:pb-1 { padding-bottom: 10px; }  
  .sm\:pb-2 { padding-bottom: 20px; }  
  .sm\:pl-0 { padding-left: 0px; }  
  .sm\:pl-1 { padding-left: 10px; }  
  .sm\:pl-2 { padding-left: 20px; }  
  .sm\:pr-0 { padding-right: 0px; }  
  .sm\:pr-1 { padding-right: 10px; }  
  .sm\:pr-2 { padding-right: 20px; }  
  .sm\:px-0 { padding-left: 0; padding-right: 0; }  
  .sm\:px-1 { padding-left: 10px; padding-right: 10px; }  
  .sm\:px-2 { padding-left: 20px; padding-right: 20px; }  

  /* Grid utilities class */
  .sm\:grid-cols-1 { grid-template-columns: repeat(1, 1fr); }  
  .sm\:grid-cols-2 { grid-template-columns: repeat(2, 1fr); }  
  .sm\:grid-cols-3 { grid-template-columns: repeat(3, 1fr); }  
  .sm\:grid-cols-4 { grid-template-columns: repeat(4, 1fr); }  
  .sm\:grid-cols-5 { grid-template-columns: repeat(5, 1fr); }  
  .sm\:grid-cols-6 { grid-template-columns: repeat(6, 1fr); }  
  .sm\:grid-cols-7 { grid-template-columns: repeat(7, 1fr); }  
  .sm\:grid-cols-8 { grid-template-columns: repeat(8, 1fr); }  
  .sm\:grid-cols-9 { grid-template-columns: repeat(9, 1fr); }  
  .sm\:grid-cols-10 { grid-template-columns: repeat(10, 1fr); }  
  .sm\:grid-cols-11 { grid-template-columns: repeat(11, 1fr); }  
  .sm\:grid-cols-12 { grid-template-columns: repeat(12, 1fr); }
  .sm\:grid-cols-30-70{ grid-template-columns: 30fr 70fr; }
  .sm\:grid-cols-60-40{ grid-template-columns: 60fr 40fr;}
  .sm\:grid-cols-40-60{ grid-template-columns: 40fr 60fr;}
  .sm\:grid-cols-64-36 { grid-template-columns: 64fr 36fr; }
  .sm\:grid-reverse {direction: rtl;}

  /* Font utilities  */
    .sm\:font-weight-normal {font-weight: normal;}

    .sm\:font-weight-bold {font-weight: bold;}

    .sm\:font-weight-bolder {font-weight: bolder;}

    .sm\:font-weight-light {font-weight: lighter;}

    .sm\:font-weight-100 {font-weight: 100;}

    .sm\:font-weight-200 {font-weight: 200;}

    .sm\:font-weight-300 {font-weight: 300;}

    .sm\:font-weight-400 {font-weight: 400;}

    .sm\:font-weight-500 {font-weight: 500;}

    .sm\:font-weight-600 {font-weight: 600;}

    .sm\:font-weight-700 {font-weight: 700;}

    .sm\:font-weight-800 {font-weight: 800;}

    .sm\:font-weight-900 {font-weight: 900;}
}

@media (min-width: 768px) {  /* md */
    .container {
        max-width: 768px;
    }

    .testimonial .icon{
        display: block;
    }

    .md\:none { display: none; }
    .md\:block{ display: block; }

    .testimonial{
        padding-left: 20px;
        padding-right: 20px;
    }

    .md\:min\:h-screen{
        min-height: 100vh;
    }

    /* Flexbox */
    .md\:flex { display: flex; }
    .md\:inline-flex { display: inline-flex; }

    /* Flex Direction */
    .md\:flex-row { flex-direction: row; }
    .md\:flex-row-reverse { flex-direction: row-reverse; }
    .md\:flex-col { flex-direction: column; }
    .md\:flex-col-reverse { flex-direction: column-reverse; }

    /* Flex Wrap */
    .md\:flex-wrap { flex-wrap: wrap; }
    .md\:flex-nowrap { flex-wrap: nowrap; }
    .md\:flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* Justify Content */
    .md\:justify-start { justify-content: flex-start; }
    .md\:justify-center { justify-content: center; }
    .md\:justify-end { justify-content: flex-end; }
    .md\:justify-between { justify-content: space-between; }
    .md\:justify-around { justify-content: space-around; }
    .md\:justify-evenly { justify-content: space-evenly; }

    /* Align Items */
    .md\:items-start { align-items: flex-start; }
    .md\:items-center { align-items: center; }
    .md\:items-end { align-items: flex-end; }
    .md\:items-baseline { align-items: baseline; }
    .md\:items-stretch { align-items: stretch; }

    /* Align Self */
    .md\:self-auto { align-self: auto; }
    .md\:self-start { align-self: flex-start; }
    .md\:self-center { align-self: center; }
    .md\:self-end { align-self: flex-end; }
    .md\:self-stretch { align-self: stretch; }

    /* Align Content */
    .md\:content-start { align-content: flex-start; }
    .md\:content-center { align-content: center; }
    .md\:content-end { align-content: flex-end; }
    .md\:content-between { align-content: space-between; }
    .md\:content-around { align-content: space-around; }
    .md\:content-evenly { align-content: space-evenly; }

    /* Flex Grow & Shrink */
    .md\:flex-grow { flex-grow: 1; }
    .md\:flex-grow-0 { flex-grow: 0; }
    .md\:flex-shrink { flex-shrink: 1; }
    .md\:flex-shrink-0 { flex-shrink: 0; }

    .md\:col-span-2 { grid-column: span 2 / span 2; }
    .md\:col-span-3 { grid-column: span 3 / span 3; }
    
    .md\:col-start-1 { grid-column-start: 1; }
    .md\:col-start-2 { grid-column-start: 2; }
    .md\:col-start-3 { grid-column-start: 3; }
    .md\:col-start-4 { grid-column-start: 4; }
    .md\:col-start-5 { grid-column-start: 5; }
    .md\:col-start-6 { grid-column-start: 6; }
    .md\:col-start-7 { grid-column-start: 7; }
    .md\:col-start-8 { grid-column-start: 8; }
    .md\:col-start-9 { grid-column-start: 9; }
    .md\:col-start-10 { grid-column-start: 10; }
    .md\:col-start-11 { grid-column-start: 11; }
    .md\:col-start-12 { grid-column-start: 12; }    

    /* Margin utilities class */
    .md\:ml-auto { margin-left: auto; }
    .md\:mr-auto { margin-right: auto; }  
    .md\:mt-0 { margin-top: 0px; }  
    .md\:mt-1 { margin-top: 10px; }  
    .md\:mt-2 { margin-top: 20px; }  
    .md\:mb-0 { margin-bottom: 0px; }  
    .md\:mb-1 { margin-bottom: 10px; }  
    .md\:mb-2 { margin-bottom: 20px; }  
    .md\:ml-0 { margin-left: 0px; }  
    .md\:ml-1 { margin-left: 10px; }  
    .md\:ml-2 { margin-left: 20px; }  
    .md\:mr-0 { margin-right: 0px; }  
    .md\:mr-1 { margin-right: 10px; }  
    .md\:mr-2 { margin-right: 20px; }  
    .md\:mx-0 { margin-left: 0; margin-right: 0; }  
    .md\:mx-1 { margin-left: 10px; margin-right: 10px; }  
    .md\:mx-2 { margin-left: 20px; margin-right: 20px; }  
    .md\:mx-auto { margin-left: auto; margin-right: auto; }
  
    /* Padding utilities class */
    .md\:p-50{ padding: 50px; }
    .md\:pt-1 { padding-top: 10px; }  
    .md\:pt-2 { padding-top: 20px; }  
    .md\:pb-0 { padding-bottom: 0px; }  
    .md\:pb-1 { padding-bottom: 10px; }  
    .md\:pb-2 { padding-bottom: 20px; }  
    .md\:pl-0 { padding-left: 0px; }  
    .md\:pl-1 { padding-left: 10px; }  
    .md\:pl-2 { padding-left: 20px; }  
    .md\:pr-0 { padding-right: 0px; }  
    .md\:pr-1 { padding-right: 10px; }  
    .md\:pr-2 { padding-right: 20px; }  
    .md\:px-0 { padding-left: 0; padding-right: 0; }  
    .md\:px-1 { padding-left: 10px; padding-right: 10px; }  
    .md\:px-2 { padding-left: 20px; padding-right: 20px; }  

    /* Grid utilities class */
    .md\:grid-cols-1 { grid-template-columns: repeat(1, 1fr); }  
    .md\:grid-cols-2 { grid-template-columns: repeat(2, 1fr); }  
    .md\:grid-cols-3 { grid-template-columns: repeat(3, 1fr); }  
    .md\:grid-cols-4 { grid-template-columns: repeat(4, 1fr); }  
    .md\:grid-cols-5 { grid-template-columns: repeat(5, 1fr); }  
    .md\:grid-cols-6 { grid-template-columns: repeat(6, 1fr); }  
    .md\:grid-cols-7 { grid-template-columns: repeat(7, 1fr); }  
    .md\:grid-cols-8 { grid-template-columns: repeat(8, 1fr); }  
    .md\:grid-cols-9 { grid-template-columns: repeat(9, 1fr); }  
    .md\:grid-cols-10 { grid-template-columns: repeat(10, 1fr); }  
    .md\:grid-cols-11 { grid-template-columns: repeat(11, 1fr); }  
    .md\:grid-cols-12 { grid-template-columns: repeat(12, 1fr); }
    .md\:grid-cols-30-70 { grid-template-columns: 30fr 70fr; }
    .md\:grid-cols-60-40 { grid-template-columns: 60fr 40fr; }
    .md\:grid-cols-40-60 { grid-template-columns: 40fr 60fr; }
    .md\:grid-cols-64-36 { grid-template-columns: 64fr 36fr; }
    .md\:grid-reverse { direction: rtl; }

    /* Font utilities */
    .md\:font-weight-normal { font-weight: normal; }
    .md\:font-weight-bold { font-weight: bold; }
    .md\:font-weight-bolder { font-weight: bolder; }
    .md\:font-weight-light { font-weight: lighter; }
    .md\:font-weight-100 { font-weight: 100; }
    .md\:font-weight-200 { font-weight: 200; }
    .md\:font-weight-300 { font-weight: 300; }
    .md\:font-weight-400 { font-weight: 400; }
    .md\:font-weight-500 { font-weight: 500; }
    .md\:font-weight-600 { font-weight: 600; }
    .md\:font-weight-700 { font-weight: 700; }
    .md\:font-weight-800 { font-weight: 800; }
    .md\:font-weight-900 { font-weight: 900; }
}


@media (min-width: 1024px) {  /* lg */
    .container {
        max-width: 1024px;
    }

    #who-we-are .container{
        margin-left: auto;
        margin-right: 0;
    }

    .testimonial .icon{
        display: block;
    }

    .lg\:none { display: none; }
    .lg\:block{ display: block; }

    .testimonial{
        padding-left: 30px;
        padding-right: 30px;
    }

    .lg\:min\:h-screen{
        min-height: 100vh;
    }

    .lg\:min\:h-700{
        min-height: 700px;
    }

    /* Flexbox */
    .lg\:flex { display: flex; }
    .lg\:inline-flex { display: inline-flex; }

    /* Flex Direction */
    .lg\:flex-row { flex-direction: row; }
    .lg\:flex-row-reverse { flex-direction: row-reverse; }
    .lg\:flex-col { flex-direction: column; }
    .lg\:flex-col-reverse { flex-direction: column-reverse; }

    /* Flex Wrap */
    .lg\:flex-wrap { flex-wrap: wrap; }
    .lg\:flex-nowrap { flex-wrap: nowrap; }
    .lg\:flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* Justify Content */
    .lg\:justify-start { justify-content: flex-start; }
    .lg\:justify-center { justify-content: center; }
    .lg\:justify-end { justify-content: flex-end; }
    .lg\:justify-between { justify-content: space-between; }
    .lg\:justify-around { justify-content: space-around; }
    .lg\:justify-evenly { justify-content: space-evenly; }

    /* Align Items */
    .lg\:items-start { align-items: flex-start; }
    .lg\:items-center { align-items: center; }
    .lg\:items-end { align-items: flex-end; }
    .lg\:items-baseline { align-items: baseline; }
    .lg\:items-stretch { align-items: stretch; }

    /* Align Self */
    .lg\:self-auto { align-self: auto; }
    .lg\:self-start { align-self: flex-start; }
    .lg\:self-center { align-self: center; }
    .lg\:self-end { align-self: flex-end; }
    .lg\:self-stretch { align-self: stretch; }

    /* Align Content */
    .lg\:content-start { align-content: flex-start; }
    .lg\:content-center { align-content: center; }
    .lg\:content-end { align-content: flex-end; }
    .lg\:content-between { align-content: space-between; }
    .lg\:content-around { align-content: space-around; }
    .lg\:content-evenly { align-content: space-evenly; }

    /* Flex Grow & Shrink */
    .lg\:flex-grow { flex-grow: 1; }
    .lg\:flex-grow-0 { flex-grow: 0; }
    .lg\:flex-shrink { flex-shrink: 1; }
    .lg\:flex-shrink-0 { flex-shrink: 0; }

    .lg\:col-span-1 { grid-column: span 1 / span 1; }
    .lg\:col-span-2 { grid-column: span 2 / span 2; }
    .lg\:col-span-3 { grid-column: span 3 / span 3; }
    .lg\:col-span-4 { grid-column: span 4 / span 4; }
    .lg\:col-span-5 { grid-column: span 5 / span 5; }
    .lg\:col-span-6 { grid-column: span 6 / span 6; }
    .lg\:col-span-7 { grid-column: span 7 / span 7; }
    .lg\:col-span-8 { grid-column: span 8 / span 8; }
    .lg\:col-span-9 { grid-column: span 9 / span 9; }
    .lg\:col-span-10 { grid-column: span 10 / span 10; }
    .lg\:col-span-11 { grid-column: span 11 / span 11;}
    .lg\:col-span-12 { grid-column: span 12 span 12;}

    .lg\:col-start-1 { grid-column-start: 1; }
    .lg\:col-start-2 { grid-column-start: 2; }
    .lg\:col-start-3 { grid-column-start: 3; }
    .lg\:col-start-4 { grid-column-start: 4; }
    .lg\:col-start-5 { grid-column-start: 5; }
    .lg\:col-start-6 { grid-column-start: 6; }
    .lg\:col-start-7 { grid-column-start: 7; }
    .lg\:col-start-8 { grid-column-start: 8; }
    .lg\:col-start-9 { grid-column-start: 9; }
    .lg\:col-start-10 { grid-column-start: 10; }
    .lg\:col-start-11 { grid-column-start: 11; }
    .lg\:col-start-12 { grid-column-start: 12; }    

    /* Margin utilities class */
    .lg\:ml-auto { margin-left: auto; }
    .lg\:mr-auto { margin-right: auto; }  
    .lg\:mt-0 { margin-top: 0px; }  
    .lg\:mt-1 { margin-top: 10px; }  
    .lg\:mt-2 { margin-top: 20px; }  
    .lg\:mb-0 { margin-bottom: 0px; }  
    .lg\:mb-1 { margin-bottom: 10px; }  
    .lg\:mb-2 { margin-bottom: 20px; }  
    .lg\:ml-0 { margin-left: 0px; }  
    .lg\:ml-1 { margin-left: 10px; }  
    .lg\:ml-2 { margin-left: 20px; }  
    .lg\:mr-0 { margin-right: 0px; }  
    .lg\:mr-1 { margin-right: 10px; }  
    .lg\:mr-2 { margin-right: 20px; }  
    .lg\:mx-0 { margin-left: 0; margin-right: 0; }  
    .lg\:mx-1 { margin-left: 10px; margin-right: 10px; }  
    .lg\:mx-2 { margin-left: 20px; margin-right: 20px; }  
    .lg\:mx-auto { margin-left: auto; margin-right: auto; }
  
    /* Padding utilities class */
    .lg\:p-50{ padding: 50px; }
    .lg\:pt-1 { padding-top: 10px; }  
    .lg\:pt-2 { padding-top: 20px; }  
    .lg\:pt-8 { padding-top: 80px; }  
    .lg\:pb-0 { padding-bottom: 0px; }  
    .lg\:pb-1 { padding-bottom: 10px; }  
    .lg\:pb-2 { padding-bottom: 20px; }  
    .lg\:pb-8 { padding-bottom: 80px; }  
    .lg\:pl-0 { padding-left: 0px; }  
    .lg\:pl-1 { padding-left: 10px; }  
    .lg\:pl-2 { padding-left: 20px; }  
    .lg\:pr-0 { padding-right: 0px; }  
    .lg\:pr-1 { padding-right: 10px; }  
    .lg\:pr-2 { padding-right: 20px; }  
    .lg\:px-0 { padding-left: 0; padding-right: 0; }  
    .lg\:px-1 { padding-left: 10px; padding-right: 10px; }  
    .lg\:px-2 { padding-left: 20px; padding-right: 20px; }  

    /* Grid utilities class */
    .lg\:grid-cols-1 { grid-template-columns: repeat(1, 1fr); }  
    .lg\:grid-cols-2 { grid-template-columns: repeat(2, 1fr); }  
    .lg\:grid-cols-3 { grid-template-columns: repeat(3, 1fr); }  
    .lg\:grid-cols-4 { grid-template-columns: repeat(4, 1fr); }  
    .lg\:grid-cols-5 { grid-template-columns: repeat(5, 1fr); }  
    .lg\:grid-cols-6 { grid-template-columns: repeat(6, 1fr); }  
    .lg\:grid-cols-7 { grid-template-columns: repeat(7, 1fr); }  
    .lg\:grid-cols-8 { grid-template-columns: repeat(8, 1fr); }  
    .lg\:grid-cols-9 { grid-template-columns: repeat(9, 1fr); }  
    .lg\:grid-cols-10 { grid-template-columns: repeat(10, 1fr); }  
    .lg\:grid-cols-11 { grid-template-columns: repeat(11, 1fr); }  
    .lg\:grid-cols-12 { grid-template-columns: repeat(12, 1fr); }
    .lg\:grid-cols-30-70 { grid-template-columns: 30fr 70fr; }
    .lg\:grid-cols-60-40 { grid-template-columns: 60fr 40fr; }
    .lg\:grid-cols-40-60 { grid-template-columns: 40fr 60fr; }
    .lg\:grid-cols-64-36 { grid-template-columns: 64fr 36fr; }
    .lg\:grid-reverse { direction: rtl; }

    /* Font utilities */
    .lg\:font-weight-normal { font-weight: normal; }
    .lg\:font-weight-bold { font-weight: bold; }
    .lg\:font-weight-bolder { font-weight: bolder; }
    .lg\:font-weight-light { font-weight: lighter; }
    .lg\:font-weight-100 { font-weight: 100; }
    .lg\:font-weight-200 { font-weight: 200; }
    .lg\:font-weight-300 { font-weight: 300; }
    .lg\:font-weight-400 { font-weight: 400; }
    .lg\:font-weight-500 { font-weight: 500; }
    .lg\:font-weight-600 { font-weight: 600; }
    .lg\:font-weight-700 { font-weight: 700; }
    .lg\:font-weight-800 { font-weight: 800; }
    .lg\:font-weight-900 { font-weight: 900; }
}


@media (min-width: 1280px) {  /* xl */
    .container {
        max-width: 1280px;
    }

    .xl\:none { display: none; }

    .xl\:min\:h-screen{
        min-height: 100vh;
    }

    /* Flexbox */
    .xl\:flex { display: flex; }
    .xl\:inline-flex { display: inline-flex; }

    /* Flex Direction */
    .xl\:flex-row { flex-direction: row; }
    .xl\:flex-row-reverse { flex-direction: row-reverse; }
    .xl\:flex-col { flex-direction: column; }
    .xl\:flex-col-reverse { flex-direction: column-reverse; }

    /* Flex Wrap */
    .xl\:flex-wrap { flex-wrap: wrap; }
    .xl\:flex-nowrap { flex-wrap: nowrap; }
    .xl\:flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* Justify Content */
    .xl\:justify-start { justify-content: flex-start; }
    .xl\:justify-center { justify-content: center; }
    .xl\:justify-end { justify-content: flex-end; }
    .xl\:justify-between { justify-content: space-between; }
    .xl\:justify-around { justify-content: space-around; }
    .xl\:justify-evenly { justify-content: space-evenly; }

    /* Align Items */
    .xl\:items-start { align-items: flex-start; }
    .xl\:items-center { align-items: center; }
    .xl\:items-end { align-items: flex-end; }
    .xl\:items-baseline { align-items: baseline; }
    .xl\:items-stretch { align-items: stretch; }

    /* Margin utilities class */
    .xl\:ml-auto { margin-left: auto; }
    .xl\:mr-auto { margin-right: auto; }  
    .xl\:mt-0 { margin-top: 0px; }  
    .xl\:mt-1 { margin-top: 10px; }  
    .xl\:mt-2 { margin-top: 20px; }  
    .xl\:mb-0 { margin-bottom: 0px; }  
    .xl\:mb-1 { margin-bottom: 10px; }  
    .xl\:mb-2 { margin-bottom: 20px; }  

    /* Padding utilities class */
    .xl\:p-50{ padding: 50px; }
    .xl\:pt-1 { padding-top: 10px; }  
    .xl\:pt-2 { padding-top: 20px; }  
    .xl\:pb-0 { padding-bottom: 0px; }  
    .xl\:pb-1 { padding-bottom: 10px; }  
    .xl\:pb-2 { padding-bottom: 20px; }  
}


@media (min-width: 1536px) {  /* 2xl */
    .container {
        max-width: 1536px;
    }
}